@model StationLinerDataEntities.Models.Roles

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
@section BreadCrumbs{
    <li>User Manager</li>
    <li>
        @Html.ActionLink("Manage Roles", "Index")
    </li>
    <li>Edit Role</li>
        }
       @section PageTitle{
           Edit Role
           }
     @section Description{Update Role Details}
@section FormTitle{ Edit Role}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Roles</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RoleId)

        <div class="form-group">
            @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="pull-right col-md-10">
            <div class="actions col-md-offset-6">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


